<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/custom.css" />
    <include path="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <include path="~/Content/bootstrap-select.css" />
  </styleBundle>
</bundles>