@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This chapter will take a closer look at .NET Core. You will create a Cross Platform ASP.NET Core MVC App that runs on macOS and Windows.
It will display basic information in the web application.</p>
