@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <h2>Dirk Strauss</h2><br />    
</address>

<address>
    <strong>Blog:</strong> <a href="https://dirkstrauss.com">dirkstrauss.com</a><br />
    <strong>Story:</strong> <a href="http://stackoverflow.com/story/dirkstrauss">StackOverflow Story</a><br />
    <strong>MVP:</strong> <a href="http://bit.ly/2cPDeY0">MVP Profile</a>
</address>
